<div *ngIf="!movie" class="text-center">
    <h3> Whoa ! we are hunting down movies for you ! wait to cherish</h3>
    <img src="/assets/images/timer.gif">
</div>

<div class="row" *ngIf="movie">
    <div class="col-md-8">
        <h2>{{ movie.Title }}</h2>
        <!-- {{movie | json}} -->
        <!-- console.log(movie) -->

        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <td>Director</td>
                    <td>{{ movie.Director}}</td>
                </tr>
                <tr>
                    <td> Writer </td>
                    <td>{{ movie.Writer}}</td>
                </tr>
                <tr>
                    <td> Genre </td>
                    <td>{{ movie.Genre}}</td>
                </tr>
                <tr>
                    <td> Rated </td>
                    <td>{{ movie.Rated}}</td>
                </tr>
                <tr>
                    <td> Box Office </td>
                    <td>{{ movie.BoxOffice}}</td>
                </tr>
                <tr>
                    <td> Release Date </td>
                    <td>{{ movie.Released}}</td>
                </tr>
                <tr>
                    <td> Duration  </td>
                    <td>{{ movie.Runtime}}</td>
                </tr>
                <tr>
                    <td> Plot  </td>
                    <td>{{ movie.Plot}}</td>
                </tr>
                <tr>
                    <td> Languages  </td>
                    <td>{{ movie.Language}}</td>
                </tr>
                <tr>
                    <td> Awards  </td>
                    <td>{{ movie.Awards}}</td>
                </tr>
        

            </tbody>
        </table>
        <button class="btn btn-primary" (click)="back()">
            Back
        </button>

    </div>
    <div class="col-md-4">
        <img [src]="movie.Poster" [alt]="movie.Title" class="img img-thumbnail">
    </div>
  
</div>


